* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    background-color: #0b0b0b;
    color: #fcfcfc;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 1rem;

    form {
        width: 100%;
        min-width: 300px;
        max-width: 400px;
        background-color: #1d1d1d;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        overflow: hidden;

        .fillWrapper {
            width: 100%;
            overflow: hidden;
            transition: height .3s ease;
        }

        .fillGrp {
            min-width: 100%;
            display: flex;
            align-items: center;
            gap: 1rem;
            transition: transform 1s ease;
            // transform: translateX(calc(-200% - 2rem));

            .step {
                flex-shrink: 0;
            }
            input, textarea {
                border: none;
                outline: none;
                border-radius: .2rem;
            }

            .personal_details {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: .5rem;

                padding: .5rem;

                .inpGrp {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    gap: .5rem;

                    input {
                        padding: .5rem;
                    }
                }
            }

            .address {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: .5rem;


                .inpGrp {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    gap: .5rem;


                    input,
                    textarea {
                        padding: .5rem;
                        font-family: inherit;
                    }
                }
            }

            .plan {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: .5rem;

                [class^="plan"] {
                    width: 100%;
                    background-color: white;
                    color: black;
                    padding: 1rem;
                    cursor: pointer;
                }

            }

            .summary {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: .5rem;

                .dets {
                    p {
                        margin-bottom: .2rem;
                    }
                    div {
                        background-color: white;
                        color: #0b0b0b;
                        padding: .5rem
                    }
                }
            }
        }

        .buttonGrp {
            display: flex;
            justify-content: flex-end;
            gap: .5rem;
            button {
                padding: .5rem 1rem;
                cursor: pointer;
            }
        }
    }
}